name: Docker Image CI for GHCR #

on:
  push:
  pull_request:
  branch_protection_rule:
    types: [created, deleted, edited]

jobs:
  build:
    runs-on:
      - prod
      # - dev

    steps:
    - uses: actions/checkout@v4

    - name: Stop Docker containers
      run: |
        echo -> Stopping Docker Containers - DOWN
        container_name="django_test_01-web-1"
        if [ "$( docker container inspect -f '{{.State.Running}}' $container_name )" = "true" ]; then
          echo -> Container is running so now stopping
          working_path="/home/clenera/code/django_test_runner"
          cd $working_path
          docker compose -p django_test_01 -f compose.yaml down
        else
          echo "-> Message:  Docker container(s) was not running."
        fi

    - name: Archive old files [Not sure if this is required or not.]
      run: |
        working_path="/home/clenera/code/django_test_runner"
        if [ -d "$working_path" ]; then
          echo -> Tar-ing existing files to /home/clenera/old_files
          cd /home/clenera/old_files
          name=$(date +"%Y_%m_%d_%I_%M_%p")
          tar -zcvf "$name.tar.gz" $working_path
          rm -rf $working_path
        fi
    
    - name: Build and Push Image
      run: |
        working_path="/home/clenera/code/"
        if [ -d "$working_path" ]; then
          echo -> change path to $working_path
          cd $working_path
        else 
          echo -> change path to $working_path
          mkdir $working_path
          cd $working_path
        fi
        echo -> clone repo to django_test_runner
        git clone https://github.com/srslol/django_test_runner.git
        echo -> docker login to ghcr
        docker login --username srslol --password ${{ secrets.GH_TOKEN }} ghcr.io
        echo -> change folder to docker_file_path
        docker_file_path="/home/clenera/code/django_test_runner/app"
        cd $docker_file_path
        echo -> Docker build from app/
        docker build . --tag ghcr.io/srslol/django_test_runner:latest
    - name: Push Container to GHCR
      run: |
        echo -> docker push
        docker push ghcr.io/srslol/django_test_runner:latest
        echo -> pushed
    - name: Start Containers
      run: |
        echo -> Starting Docker Containers - UP
        docker compose -p django_test_01 -f compose.yaml up -d
        
    - name:  Completed
      run: echo -> Completed [EOF]
